/*Maak hier jouw CSS!*/
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
    grid-gap: 16px;
    background-color: blanchedalmond;
    grid-template-areas: "a"
                         "b"
                         "c"
                         "d"
                         "e"
                         "."
                         "f";
    padding: 16px;
}

.item {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: hsl(354, 79%, 62%);
    justify-content: center;
    align-items: center;
}

section {
    border: 2px solid;
    border-color: hsl(340, 28%, 23%);
}

#item-a {
    grid-area: a;
}

#item-b {
    grid-area: b;
}

#item-c {
    grid-area: c;
}

#item-d {
    grid-area: d;
}

#item-e {
    grid-area: e;
}

#item-f {
    grid-area: f;
}

@media screen and (min-width: 576px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 190px 100px auto 50px;
        grid-template-areas: "a c c"
                         "b c c"
                         "b e d"
                         "b e ."
                         "f f f";
    }
}